body {
    margin: 0;
    background-image: url('./img/background.png');
    background-repeat: no-repeat;
    background-size: cover;
    overflow-x: hidden;
    overflow-y: hidden;
}

#progress-bar {
    min-width: 8%;
    transition: width 0.3s ease;
}

.nav {
    display: flex;
    justify-content: center;
    margin-bottom: 0;
}

.nav-link {
    border-radius: 0 !important;
}

.active {
    background-color: #506c0d !important;
}

.non-active {
    background-color: #ffffff94 !important;
    color: black !important;
}

.non-active:hover {
    background-color: #c9c2c294 !important;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;

}

.card-title {
    text-align: center;
}

#header-image {
    height: 250px;
    object-fit: cover;
}

#progress-bar {
    background-color: #9e9e1c;
}

.question-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid rgba(0, 0, 0, 0.4);
    padding-top: 12px;
}

.quiz-card {
    width: 30rem;
    border-color: #008024b5 !important;
}

.quiz-answer-card {
    padding: 8px;
}

.quiz-answer-card:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.05);
}

.bg-success,
.bg-danger {
    color: white !important;
}

.bg-success {
    background-color: #579616 !important;
}

.bg-danger {
    background-color: #e25050 !important;
}

.width-100 {
    width: 100%;
}

.text-center {
    text-align: center;
}

.final-headline {
    font-size: 38px;
    margin-bottom: 32px;
}

.button-row {
    display: flex;
    justify-content: center;
    margin-top: 24px;
}

#next-button {
    background-color: #9e9e1c;
}